
.clsPanelTaskFilterTitle{
    width: 100%;
    text-align: center;
    background-color: #D5E7F2;
}
.clsLabelTaskFilterTitle{
    color: black;
}
.clsInputTaskFilter{
    float: left;
}
.clsButtonTaskFilter{
    text-align: center;
}